<div class="modal-header">
    <h3 class="modal-title">Reset Password</h3>
</div>
<div class="modal-body">
  <p>Please enter the email address associated with your account.</p>
  <div class="form-signin">
    <div class="login-group">
      <input class="form-control" name="password" placeholder="Password" ng-model="password" required="" type="password">
      <input class="form-control" name="password_conf" placeholder="Confirm Password" ng-model="password_conf" required="" type="password">
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class = "btn-toolbar pull-right">
    <button class="btn btn-primary" type="button" ng-click="ok()">Reset</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
