<div class="modal-header">
    <h3 class="modal-title">Add/Modify Task</h3>
</div>
<div class="modal-body">
  <div class='row modal-row'>
    <div class='col-sm-3'>
      <b>Title</b><br>
      <input type='text' ng-model="task.Title" placeholder="Title" class="form-control"/>
    </div>
    <div class='col-sm-6'>
      <b>Description</b><br>
      <textarea rows="2" ng-model="task.Description" placeholder="Description" class="form-control"/>
    </div>
    <div class='col-sm-3'>
      <b>Due Date/Time</b><br>
      <input type='text' ng-init="initDatetime()" placeholder="Due Datetime" class="form-control" id='datetimepicker'/>
    </div>
  </div>
  <div class='row modal-row'>
    <div class='col-sm-3'>
      <b>Tags</b><br>
      <div class="input-group">
        <input type='text' placeholder="Tag" ng-model="newTag" class="form-control"/>
        <span class="input-group-btn">
          <a class="btn btn-xs" data-type="plus" ng-click="addTaskTag()" style="display:inline;">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </span>
      </div>
      <div class = "btn-toolbar">
        <a class="btn-tag btn btn-xs btn-info" ng-repeat="tag in task.Tags" ng-click = "removeTaskTag(tag)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {{tag}}
        </a>
      </div>
    </div>
    <div class='col-sm-6'>
      <b>Priority</b><br>
      <select class="form-control" ng-model="task.Priority" convert-to-number>
          <option value="0">Low</option>
          <option value="1">Medium</option>
          <option value="2">High</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Go</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
