<div class="modal-header">
    <h3 class="modal-title">User Settings</h3>
</div>
<div class="modal-body">
  <div class='row modal-row'>
    <div class='col-sm-4 usr-header'>
      <b>Notification Interval</b>
    </div>
    <div class='col-sm-3'>
      <select class="form-control" ng-model="user.NotificationInterval" convert-to-number>
          <option value="3">3 days</option>
          <option value="7">7 days</option>
          <option value="14">14 days</option>
          <option value="0">Never</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class='row modal-row'>
    <div class='col-sm-8'>
      <div class = "btn-toolbar">
        <button class="btn btn-danger" type="button" ng-click="deleteAccount()">Delete Account</button>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class = "btn-toolbar">
        <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
