doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.full-page-wrapper
      div.title
        h1= title
      block content
      hr
      footer
        | Copyright 2016
