extends layout

block head-content
  link(rel='stylesheet', href='/stylesheets/register.css')

block content
  div.col-sm-12.col-xs-12.col-md-6.col-lg-6
    div.title
      h1= title
    p.
      Taskie is a simple task manager for your work and everyday time. Be the master of your schedule, not the other way around!
    if regSuccess == false
      div.alert.alert-danger
        strong.
          Oops
        ul
          each val in messages
            li= val
    else if regSuccess == true
      div.alert.alert-success
        strong.
          Registration Successful! Please check your email for account verfication.
  div.col-sm-12.col-xs-12.col-md-6.col-lg-6
      form.form-signin(role='form', action='register', method='post')
        input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
        input.form-control(type='password', name='password', placeholder='Password', required='')
        input.form-control(type='password', name='password_conf', placeholder='Confirm Password', required='')
        input.form-control(type='text', name='firstname', placeholder='Firstname', required='', autofocus='')
        input.form-control(type='text', name='lastname', placeholder='Lastname', autofocus='')
        input.form-control(type='email', name='email', placeholder='Email', required='', autofocus='')
        input.form-control(type='email', name='email_conf', placeholder='Confirm Email', required='', autofocus='')
        br.
        button.btn.btn-lg.btn-block.sharp.btn-success(type='submit') Sign Up
        |Or 
        a(href='login') sign in
