extends layout

block content
  if regSuccess == false
    div.notif
      p.
        Something went wrong:
    ul
      each val in messages
        li= val
  else if regSuccess == true
    div.notif
      p.
        Registration Successful!
  div.registerbox
    form(name="register", action="/register", method="post")
      label
        | Username: 
        input(type="text", name="user", placeholder="Username")
        br
      label
        | Password: 
        input(type="password", name="pass", placeholder="Password")
        br
      label
        | Email: 
        input(type="email", name="email", placeholder="Email")
        br
      input(type="submit", value="Sign Up")
  br
  a(href='.') Home
