<div class="title">
  <h1>Taskie</h1>
</div>

<div class="container">
  <div class="form-signin">
    <div class="login-group">
      <input class="form-control" name="username" placeholder="Username" required="" ng-model="userinfo.username" type="text">
      <input class="form-control" name="password" placeholder="Password" required="" ng-model="userinfo.password" type="password">
      <a target="_blank" class="btn btn-lg half-span btn-success" ng-click="login()">Sign In</a>
      <a href="#/register" class="btn btn-lg half-span btn-success">Sign Up</a>
    </div>
  </div>
  <pre>Response Info<br><code>{{ response | json }}</code></pre>
</div>
